@inherits umbraco.MacroEngines.DynamicNodeContext
@using umbraco.NodeFactory
@using umbraco.cms.businesslogic.member


@*
    Model = The current page the macro is executed on
            @Model.bodyText
    Parameter = collection of parameter values passed from the macro
            @Paramter.myParam
    Library = utillity library with common methods
            @Library.NodeById(1233)
*@

@{


    Member member = Member.GetCurrentMember();
    var typeConnexion = member != null ? member.ContentType.Alias : "Particulier";


    /// on récupère le noeud de plus haut niveau,
    var ancetre = Model.AncestorsOrSelf().First();
    ///on liste tous ses descendants de type "Folder".
    var dos = ancetre.Descendants("Folder");
    var equipes = Model;
    var membresPro = Model;
    var membresPart = Model;

    /// on récupère le descendant qui se nomme "Equipe",
    foreach (var item in dos)
    {
        if (item.name == "Equipe")
        {
            equipes = item;
        }
    }
    /// on trie les descendants d'Equipe en fonctions du service.
    foreach (var item1 in equipes.Children())
    {

        if (item1.Name.ToLower() == "professionnel")
        {

            membresPro = item1;
        }
        else if (item1.Name.ToLower() == "particulier")
        {
            membresPart = item1;
        }
    }


    /// affichage des données.
    var SelectedMembre = equipes.Descendants().First();
    var model = Model;
    var nombre = 0;
    var nom = "";
    var serv = membresPro.Children();
    var important = true;

    <h2 class="span13 titreSection styleLight">@Model.Children().First().pageHeading</h2>



    if (member != null && typeConnexion == "Professionnel")
    {
        <div class="divA fleche">
            <div class="flecheHaut">
                <img class="imageBouton" src="~/media/images/flechehaut.png" />
            </div>
        </div>
        <div id="Pro_@typeConnexion" class="typeSlider ">
            <div class="outerViewport">
                <div class="viewportEquipe">
                    @{var nombre2 = 0;}
                    @foreach (var service in membresPro.Children())
                    {
                        foreach (var membre in service.Children())
                        {
                            if (membre.membreImportant && important)
                            {

                                var nombre3 = 0;

                                <div id="@membre.Name" class="itemService">
                                    <div class="sliderContent" id="slider_@nombre2">
                                        @*<span class="styleBold">@typeConnexion.ToUpper() : </span>*@
                                        <div class="posteDetail">
                                            <div class="slider">
                                                <span class="styleSemiBold titrePro">@membre.Name.ToUpper() : </span>
                                                @*<span class="slider-prev" id="prev_@nombre-@nombre2"><img src="~/media/images/leftarrow.png" /></span>*@
                                                <div class="posteDetaile" id="slider_@nombre-@nombre2">

                                                    <div id="membreImportant">
                                                        <div class="als-item" id="item_@nombre2@nombre3">
                                                            <div class="zoneMembre" id="membre_@membre.id">
                                                                <div class="membreEquipe span12">
                                                                    @{nom = membre.nom.ToString();}
                                                                    <img class="" src="@Library.MediaById(@membre.photo.ToString()).UmbracoFile" alt="@membre.Nom" />
                                                                    <div class="zone-item-text"><p class="item-texte">@nom</p></div>
                                                                </div>
                                                            </div>
                                                            <div class="detailleMembre">
                                                                <div class="poste">
                                                                    <h3 class="styleSemiBold">@membre.poste</h3>
                                                                    <p class="descriptifPoste">@membre.descriptif</p>
                                                                </div>
                                                            </div>
                                                            @{nombre3++;}
                                                        </div>
                                                    </div>
                                                </div>
                                                @*<span class="slider-next" id="next_@nombre-@nombre2"><img src="~/media/images/rightarrow.png" /></span>*@
                                            </div>
                                        </div>

                                        @{nombre2++;}
                                    </div>
                                    @{important = false;}
                                </div>
                            }
                        }
                    }

                    @foreach (var service in membresPro.Children())
                    {



                        var nombre3 = 0;

                        <div id="@service.Name" class="itemService">
                            <div class="sliderContent" id="slider_@nombre2">
                                @*<span class="styleBold">@typeConnexion.ToUpper() : </span>*@
                                <div class="posteDetail">
                                    <div class="slider">
                                        <span class="styleSemiBold titrePro">@service.Name.ToUpper() : </span>
                                        <span class="slider-prev" id="prev_@nombre-@nombre2"><img src="~/media/images/leftarrow.png" /></span>
                                        <div class="cont posteDetaile owl-carousel" id="slider_@nombre-@nombre2">
                                            @foreach (var membre in service.Children())
                                            {


                                                <div class="als-item" id="item_@nombre2@nombre3">
                                                    <div class="zoneMembre" id="membre_@membre.id">
                                                        <div class="membreEquipe span12">
                                                            @{nom = membre.nom.ToString();}
                                                            <img class="" src="@Library.MediaById(@membre.photo.ToString()).UmbracoFile" alt="@membre.Nom" />
                                                            <div class="zone-item-text"><p class="item-texte">@nom</p></div>
                                                        </div>
                                                    </div>
                                                    <div class="detailMembre" id="detail_@membre.id">
                                                        <div class="poste">
                                                            <h3 class="styleSemiBold">@membre.poste</h3>
                                                            <p class="descriptifPoste">@membre.descriptif</p>
                                                        </div>
                                                    </div>                                            @{nombre3++;}
                                                </div>
                                            }
                                        </div>
                                        <span class="slider-next" id="next_@nombre-@nombre2"><img src="~/media/images/rightarrow.png" /></span>
                                    </div>
                                </div>

                                @{nombre2++;}
                            </div>

                        </div>


                    }
                </div>
            </div>
        </div>

        <div class="divA fleche">
            <div class="flecheBas">
                <img class="imageBouton" src="~/media/images/flechebas.png" />
            </div>
        </div>



    }
    else
    {
        var nombre2 = 0;
        <div id="Pro_@typeConnexion" class="typeSlider ">
            <div class="part">
                <span class="slider-prev"><img src="~/media/images/leftarrow.png" /></span>

                <div class="posteDetail">
                    <div class="slider">

                        <h3 class="titrePro styleBold">@membresPart.Name.ToUpper()</h3>

                        <div class="cont row owl-carousel" id="slider_@membresPart.Name-@nombre@nombre2">
                            @foreach (var membre in membresPart.Children())
                            {
                                @*<h2 class="span13 titreSection styleLight">@membre.Name</h2>*@
                                <div class="als-item" id="item_numero_@nombre@nombre2">
                                    <div class="zoneMembre" id="membre_@membre.id">
                                        <div class="membreEquipe span12">
                                            @{nom = membre.nom.ToString();}
                                            <img class="" src="@Library.MediaById(@membre.photo.ToString()).UmbracoFile" alt="@membre.Nom" />
                                            <div class="zone-item-text"><p class="item-texte">@nom</p></div>
                                        </div>
                                    </div>
                                    <div class="detailMembre" id="detail_@membre.id">
                                        <div class="poste">
                                            <h3 class="styleSemiBold">@membre.poste</h3>
                                            <div class="descriptifPoste">@membre.descriptif</div>
                                        </div>
                                    </div>
                                    @{nombre2++;}
                                </div>
                            }
                        </div>
                        @{nombre++;}
                    </div>
                </div>
                <span class="slider-next"><img src="~/media/images/rightarrow.png" /></span>
            </div>
        </div>


    }





}


























