@inherits umbraco.MacroEngines.DynamicNodeContext
@using umbraco.NodeFactory

@*
    Model = The current page the macro is executed on
            @Model.bodyText
    Parameter = collection of parameter values passed from the macro
            @Paramter.myParam
    Library = utillity library with common methods
            @Library.NodeById(1233)
*@

@{
    /// on récupère le noeud de plus haut niveau,
    var ancetre = Model.AncestorsOrSelf().First();
    ///on liste tous ses descendants de type "Folder".
    var dos = ancetre.Descendants("Folder");
    var equipes = Model;
    var membresPro = Model;
    var membresPart = Model;
    
    
    /// on récupère le descendant qui se nomme "Equipe",
    foreach (var item in dos)
    {
        if (item.name == "Equipe")
        {
            equipes = item;
        }
    }
    /// on trie les descendants d'Equipe en fonctions du service.
    foreach (var item1 in equipes.Descendants())
    {
        if (item1.departement == "professionnels")
        {
            membresPro = item1;
        }
        else if (item1.departement == "particuliers")
        {
            membresPart = item1;
        }
    }
    
    
    /// affichage des données.
    var SelectedMembre = equipes.Descendants().First();
    var model = Model;
    <div class="divSlider row-fluid">
        <h2 class="span13 titreSection styleLight">L'EQUIPE CAVES QUARANTE ET UN</h2>
        <div class=" divGlobal">
            <div id="membresPro" class="typeSlider ">
                <div class="slideOwl membresPro">
                    <span class="slider-prev"><img class="imageBouton" src="~/media/images/leftarrow.png" /></span>

                    <div id="sliderPro" class="als-container posteDetail">
                        <h3 class="titrePro styleBold">VENTES AUPRES DES PROFESSIONNELS</h3>
                        <div class="slider">


                            <div class="cont row owl-carousel" id="viewportPro">

                                @foreach (var item in equipes.Descendants())
                                {
                                    if (item.departement == "Professionnels")
                                    {
                                        <div class="als-item">
                                            <div class="zoneMembre" id="membre_@item.id">
                                                <div class="membreEquipe span12">
                                                    @{var nom = item.nom.ToString().ToUpper();}
                                                    <img class="" src="@Library.MediaById(@item.photo.ToString()).UmbracoFile" alt="@item.Nom" />
                                                    <div class="zone-item-text"><p class="item-texte">@nom</p></div>
                                                </div>
                                            </div>
                                            <div class="detailMembre" id="detail_@item.id">
                                                <div class="poste">
                                                    <h3 class="styleSemiBold">@item.poste</h3>
                                                    <div class="descriptifPoste">@item.descriptif</div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>


                        </div>
                    </div>

                    <span class="slider-next"><img class="imageBouton" src="~/media/images/rightarrow.png" /></span>
                </div>

                <div id="accueilTel" class="posteDetail membresPro">
                    <h3 class="styleBold">ACCUEIL TELEPHONIQUE</h3>
                    @foreach (var item in equipes.Descendants())
                    {
                        if (item.nom.ToString().ToLower() == "havez")
                        {
                            <div class="membreEquipe" id="membre_@item.id">
                                @{var nom = item.nom.ToString().ToUpper() + " " + item.prenom.ToString().ToUpper();}
                                <img src="@Library.MediaById(@item.photo.ToString()).UmbracoFile" alt="@item.Nom" />
                                <div class="zone-item-text"><p class="item-texte">@nom</p></div>
                            </div>
                        }
                    }
                </div>

                <div class="divA">
                    <div class="flecheBas">
                        <button>
                            <img class="imageBouton" src="~/media/images/flechebas.png" />
                        </button>
                    </div>
                </div>
            </div>



            <div id="membresPart" class="als-container posteDetail typeSlider membresPro slideOwl">
                <span class="slider-prev"><img src="~/media/images/leftarrow.png" /></span>
                <div class="cont" id="viewportPart">
                    <h3 class="titrePro styleBold">PARTICULIERS</h3>


                    <div class="slider">

                        <div class="row typeMembre owl-carousel" id="wrapperPart">
                            @foreach (var item in equipes.Descendants())
                            {
                                if (item.departement == "Particuliers")
                                {
                            <div class="als-item">
                                <div class="membreEquipe span12" id="membre_@item.id">
                                    @{var nom = item.nom.ToString().ToUpper() + " " + item.prenom.ToString().ToUpper();}
                                    <img src="@Library.MediaById(@item.photo.ToString()).UmbracoFile" alt="@item.Nom" />
                                    <div class="zone-item-text"><p class="item-texte">@nom</p></div>

                                </div>
                                <div class="detailMembre" id="detail_@item.id">
                                    <div class="poste">
                                        <h3>@item.poste</h3>
                                        <div class="descriptifPoste">@item.descriptif</div>
                                    </div>
                                </div>
                            </div>
                                }
                            }
                        </div>
                    </div>




                </div>
                <span class="slider-next"><img src="~/media/images/rightarrow.png" /></span>
            </div>

        </div>
    </div>
}







