@inherits umbraco.MacroEngines.DynamicNodeContext

@*
    Model = The current page the macro is executed on
            @Model.bodyText

    Parameter = collection of parameter values passed from the macro
            @Paramter.myParam

    Library = utillity library with common methods
            @Library.NodeById(1233)
*@



@* The fun starts here *@

@{
    var page = Model;

    /// on récupère le noeud de plus haut niveau,
    var ancetre = Model.AncestorsOrSelf().First();
    ///on liste tous ses descendants de type "Folder".
    var dos = ancetre.Descendants("Folder");
    var equipes = Model;

    /// on récupère le descendant qui se nomme "Equipe",
    foreach (var item in dos)
    {
        if (item.name == "Equipe")
        {
            equipes = item;
        }
    }


    //if (member != null)
    //{
    //    //if (member.ContentType.Alias == "Professionnel")
    //    //{
    //    typeConnexion = member.ContentType.Alias;
    //    //}
    //    //else
    //    //{
    //    //    typeConnexion = "Part_";
    //    //}
    //}


    foreach (var item in page.Children())
    {
        <div class="title styleLight titre">
            <h3>@item.pageHeading</h3>
        </div>
        <div>
            <div>@item.pageContent</div>
            <br />
            <br />
            @if (item.pageHeading.ToString().ToLower() == "l'equipe caves quarante et un")
            {
                <div class="filtreService row-fluid">
                    <div class="temp">
                        @*@foreach (var item1 in equipes.Children())
                        {
                        <button id="filtre_@item1.Name" class="filtre styleLight">@item1.Name.ToUpper()</button>
                        }*@                        
                        @*@foreach (var item1 in equipes.Children())
                        {*@
                        <div id="filtre_Connection" class="filtre styleLight">VOIR L'EQUIPE</div>
                        @*}*@
                    </div>
                </div>
            }
            <br />
        </div>
    }
}